@charset "utf-8";
header {
    width: 100%;
    height: 1.825rem;
    line-height: 1.825rem;
    background: #ffac2c;
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
    a {
        width: 0.625rem;
        height: 0.9rem;
        background: url(../img/youjiantou.png)no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 20px;
        top: 10px;
    }
}
.content{
    width: 16rem;
    .content-one{
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        font-size: 14px;
        background: #f5f5f5;
    }
     .content-two{
        height: 2.425rem;
        line-height: 2.425rem;
        font-size: 16px;
        p{
            padding: 0 20px;
            a{
                span{
                    font-size: 1rem;
                    color: #f94510;
                }
            }
        }
    }
    .content-three{
        box-sizing: border-box;
        padding:0 20px;
        &>div{
             height: 4rem;
             line-height:1rem;
             background: #facd89;
             border-radius:5px;
             p:last-child{
                 padding: 0 20px;
                a{
                 color: #f93e11;
                }
             }
        }
    }
    .content-four{
        width: 16rem;
        text-align: center;
        padding-top: 30px;
        img{
            width: 50%;
            height: 50%;
        }
    }
    
}
