


header{
  height:1.8rem;
  line-height:1.8rem;
  padding:0 0.6rem;
  background:#F85A2A;
  display:flex;
  color:#fff;
  justify-content: space-between;
  &>div{
    font-size:0.9rem;
    &>a{
      &>img{
        width:0.45rem;
        height:0.7rem;
      }
    }
  }
}
.top{
    width:100%;
    background:#F85A2A;
    >div{
        width:60%;
        margin:0 auto;
        display: flex;
        -webkit-justify-content: space-between;
        img{
            width:2.5rem;
        }
        .yue{
            margin-top:0.4rem;
            text-align: center;
            p:nth-child(1){
                color:#F9C39B;
            }
            p:nth-child(2){
                color:#FCAD2A;
            }
        }
    }
    >p{
        text-align: center;
        color:#F6DCC9;
    }
}
.balance{
    width:100%;
    .balance_p{
        background:#F5F5F5;
        color:#B3B3B3;
        padding:0.48rem 0.55rem;
    }
    .balance_ul{
        width:100%;
        li{
            border-bottom: 1px solid #E8E8E8;
            padding:0.45rem 0.4rem;
            display: flex;
            -webkit-justify-content: space-between;
            p{
                span:nth-child(1){
                    color:#636363;
                }
                span:nth-child(2){
                    color:#C0C0C0;
                    margin-left:0.85rem;
                }
            }
        }
    }
}
.num{
    width:90%;
    margin:0.62rem auto;
    p{
        text-align: center;
        color:#F96539;
        padding:0.5rem 0;
        border:1px dashed #F96539;
    }
}
.pull{
    width:90%;
    margin:0.62rem auto;
    p{
        text-align: center;
        color:#fff;
        padding:0.5rem 0;
        background:#FED555;
        border-radius: 5px;
    }
}
.motai{
//  background:#626262;
    background:rgba(0,0,0,.4);
    width:100%;
    height:100%;
    display: none;
    position: absolute;
    top:0;
    .nei{
        width:11.25rem;
        background:#fff;
        height:6.125rem;
        border-radius: 10px;
        text-align: center;
        overflow: hidden;
        margin:10rem auto;
        p:nth-child(1){
            height:4.5rem;
            line-height:4.5rem;
        }
        p:nth-child(2){
            height:1.625rem;
            line-height:1.625rem;
            background:#FFD974;
            color:#fff;
            
        }
    }
}
